<main class="content">
    <h1>Sorry, but we've run into an error:</h1>
    <h2 class = "centered">{{message}}</h1>
    <div class = "centered">{{error.status}}</div>
    <h2>Here are the details:</h2>
    <pre>{{error.stack}}</pre>
</main>